<!DOCTYPE html>
<html lang="en">
<head>
  <title>Random Walk Plot</title>
  <meta charset="utf-8">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/css/style.css?aaaa">
</head>
<body>

<form action="/setup" method="post">
    <button name="setup simulation" value="from post">setup simulation</button>
</form>
<form action="/start" method="post">
    <button name="start" value="from post">start</button>
</form>

<div id="sample"></div>
<script>
  var count = 0;
  var max_count = 10;
  var countup = function(){
    count++;
    if(count>max_count){count=0;}; 
    $('#sample').css({
            backgroundPosition: count
    });
  } 
  setInterval(countup, 1000);
</script>


<div id="graph"></div>

<script>
    var xs     = {{data.xs | safe}};
    var ys     = {{data.ys | safe}};
    var xlim   = {{data.xlim | safe}};
    var ylim   = {{data.ylim | safe}};
    var max_step = {{data.max_step | safe}};
    var n = 100;
    var x = [], y = [];
    var dt = 0.015;

    var i = 0;
    Plotly.plot('graph', [{
        x: xs[i],
        y: ys[i],
        mode: 'markers'
    }], {
        xaxis: {range: xlim},
        yaxis: {range: ylim}
    })

    function compute () {
        i = i + 1;
        if(i > max_step){i=0}
    }

    function update () {
        compute();
        Plotly.animate('graph', {
            data: [{x: xs[i], y: ys[i]}]
        }, {
            transition:{duration: 0},
            frame:{duration: 0,redraw: false}
        });
        requestAnimationFrame(update);
    }

    requestAnimationFrame(update);
</script>

</body>
</html>